@model List<Writer>

@foreach (var item in Model)
{
    <div class="nav-profile-img">
        <img src="~/writer/assets/images/faces/face1.jpg" alt="image">
        <span class="availability-status online"></span>
    </div>
    <div class="nav-profile-text">
        <p class="mb-1 text-black">@item.WriterName</p>
    </div>
}