@model List<Blog>
@{
    ViewData["Title"] = "BlogListByWriter";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Yazarın Blogları</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Blog Başlığı</th>
        <th>Oluşturma Tarihi</th>
        <th>Kategori</th>
        <th>Durumu</th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@item.BlogID</td>
    <td>@item.BlogTitle</td>
    <td>@item.BlogCreateDate</td>
    <td>@item.Category.CategoryName</td>
    <td>
        @if (item.BlogStatus)
        {<span class="badge badge-success">Aktif</span> }
        else
        {<span class="badge badge-secondary">Pasif</span>}
    </td>
    <td><a href="/Writer/DeleteBlog/@item.BlogID" onclick="return confirm('Silmek İstediğinize Emin Misiniz?');" class="btn btn-outline-danger">Sil</a></td>
    <td><a href="/Writer/BlogEdit/@item.BlogID" class="btn btn-outline-warning">Güncelle</a></td>
</tr>
    }
</table>

<a href="/Writer/BlogAdd" class="btn btn-outline-success"><h3>Blog Oluştur</h3></a>

